@inherits LayoutComponentBase

<div class="page">
    <main>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                window.location.href = "/";
                document.removeEventListener('DOMContentLoaded', arguments.callee, false);
            });
        </script>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
