body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 98vh;
}

.chat-header-awaiting,
.chat-header-connected {
    padding: 10px;
    color: white;
    text-align: center;
}

.chat-header-awaiting {
    background-color: grey;
}

.chat-header-connected {
    background-color: blue;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.chat-message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.chat-message.sent {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.chat-message.received {
    background-color: #e9ecef;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #dee2e6;
}

.input-group {
    flex-grow: 1;
    display: flex;
    margin-left: 10px;
}

.input-group input {
    flex-grow: 1;
    margin-right: 10px;
}

input.form-control:disabled {
    background-color: #e9ecef;
}