@page "/"
@inject NavigationManager NavigationManager

<div class="form-container">
    <div class="form-group">
        <label for="ip">IP:</label>
        <input id="ip" type="text" @bind="ip" class="form-control" />

        <label for="port">Port:</label>
        <input id="port" type="number" @bind="port" class="form-control" />

        <div class="button-group">
            <button @onclick="@(async () => await StartConnection("client"))" class="btn btn-primary">Client</button>
            <button @onclick="@(async () => await StartConnection("server"))" class="btn btn-secondary">Server</button>
        </div>
    </div>
</div>

@code {
    string ip = "127.0.0.1";
    int port = 5000;

    async Task StartConnection(string role) => await Task.Run(() => NavigationManager.NavigateTo($"/chat?role={role}&ip={ip}&port={port}"));
}
